<div class="center hero-unit">
  <h1>Welcome to the MN Project</h1>

  <h2>
    This is the home page for the MN Project, a collaborative learning initiative associated with the new
    <a href="http://cocomsp.com/category/skillshare/">Skillshare School at CoCo</a>.
  </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
